{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block page_content %}
    <h1>My Bookshelves</h1>
    <hr>
    {% include 'search_bar.html' %}
    <br>
    <div class="card-columns">
        {% for bookshelf in object_list %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ bookshelf.title }}</h5>
                    {% if bookshelf.description %}
                        <p class="card-text" align="justify">{{ bookshelf.description|truncatechars:100 }}</p>
                    {% endif %}
                    <p><a href="{% url 'bookshelf details' bookshelf.id %}" class="badge badge-success">Bookshelf
                        details</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'pagination_navigation.html' %}
{% endblock %}