{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block page_content %}
    <h1>My Books</h1>
    <hr>
    {% include 'search_bar.html' %}
    <br>
    <div class="card-columns">
        {% for book in object_list %}
            <div class="card">
                <img class="card-img-top" src="{{ book.bookcover.image.url }}" alt="No book cover.">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    {% if book.summary %}
                        <p class="card-text" align="justify">{{ book.summary|truncatechars:100 }}</p>
                    {% endif %}
                    <p><a href="{% url 'book details' book.id %}" class="badge badge-success">Book
                        details</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'pagination_navigation.html' %}
{% endblock %}