{% extends 'base.html' %}
{% block page_content %}
    <h1>Bookshelves List</h1>
    <hr>
    {% if object_list %}
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Total books in bookshelf</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for bookshelf in object_list %}
                <tr>
                    <td><a href="{% url 'bookshelf details' bookshelf.id %}">{{ bookshelf.title }}</a></td>
                    <td>{{ bookshelf.books.count }}</td>
                    <td>{{ bookshelf.description|truncatechars:50 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <nav aria-label>
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                    <li class="page-item"><a class="page-link"
                                             href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}
                    of {{ page_obj.paginator.num_pages }}</a></li>
                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <h1>No bookshelves added to My Bookshelf yet.</h1>
    {% endif %}
{% endblock %}