{% extends 'base.html' %}
{% block page_content %}
    <h1>Book details</h1>
    <hr>
    {% if book.user_id == request.user.id %}
        {% if book_cover %}
            <div class="card" style="width: 18rem;">
                <img src="{{ book_cover.image.url }}" class="card-img-top" alt="No book cover">
            </div>
            <a href="{% url 'book cover change' book.id %}" class="badge badge-warning">Change Book Cover</a>
            <a href="{% url 'book cover delete' book.id %}" class="badge badge-danger">Delete Book Cover</a>
        {% else %}
            <a href="{% url 'book cover add' %}" class="badge badge-success">Add Book Cover</a>
        {% endif %}
    {% endif %}
    <div>
        <br>
        <h5>Title: {{ book.title }}</h5>
        <h5>Author: {{ book.author }}</h5>
        <h5>ISBN: {{ book.isbn }}</h5>
        <h5>Genre: {{ book.genre }}</h5>
        <h5>Owner: {{ owner }}</h5>
        {% if book.summary %}
            <h5>Summary: {{ book.summary }}</h5>
        {% endif %}
        <br>
        {% if book.user_id == request.user.id %}
            <div class="text-center">
                <a class="btn btn-success" href="{% url 'book edit' book.id %}">Edit Book</a>
                <a class="btn btn-danger" href="{% url 'book delete' book.id %}">Delete Book</a>
            </div>
        {% endif %}
    </div>
{% endblock %}