{% extends 'base.html' %}
{% block page_content %}
    <div class="container py-5">
        <h1>Bookshelf details</h1>
        <hr>
        <div>
            <h5>Title: {{ bookshelf.title }}</h5>
            <h5>Description: {{ bookshelf.description }}</h5>
            <div class="text-center">
                <a class="btn btn-success" href="{% url 'bookshelf edit' bookshelf.id %}">Edit Bookshelf</a>
                <a class="btn btn-danger" href="{% url 'bookshelf delete' bookshelf.id %}">Delete Bookshelf</a>
            </div>
        </div>
        <div>
            <ul>
                {% for book in books_list %}
                    <li>
                        <a href="{% url 'book details' book.id %}">{{ book.title }}</a> {{ book.author }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}