{% extends 'base.html' %}
{% block page_content %}
    <div class="container py-5">
        <h1>Book details</h1>
        <hr>
        <div>
            <div class="card" style="width: 18rem;">
                <img src="{{ book.cover.url }}" class="card-img-top" alt="You can add book cover by editing your book.">
            </div>
            <h5>Title: {{ book.title }}</h5>
            <h5>Author: {{ book.author }}</h5>
            <h5>ISBN: {{ book.isbn }}</h5>
            <h5>Genre: {{ book.genre }}</h5>
            {% if book.summary %}
                <h5>Summary: {{ book.summary }}</h5>
            {% endif %}
            {% if book.user_id == request.user.id %}
                <div class="text-center">
                    <a class="btn btn-success" href="{% url 'book edit' book.id %}">Edit Book</a>
                    <a class="btn btn-danger" href="{% url 'book delete' book.id %}">Delete Book</a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}