{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block page_content %}
    <h1>{{ request.session.book_genre }} Books List</h1>
    <hr>
    <form method="get">
        {% csrf_token %}
        {{ search_form|crispy }}
        <div class="text-center">
            <button class="btn btn-success" type="submit">Submit</button>
        </div>
    </form>
    <br>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Genre</th>
            <th scope="col">Summary</th>
        </tr>
        </thead>
        <tbody>
        {% for book in object_list %}
            <tr>
                <td><a href="{% url 'book details' book.id %}">{{ book.title }}</a></td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.summary|truncatechars:50 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">First</a></li>
                <li class="page-item disabled"><a class="page-link">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}
                of {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a class="page-link">Next</a></li>
                <li class="page-item disabled"><a class="page-link">Last</a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}