{% extends 'base.html' %}
{% block page_content %}
    <h1>Bookshelves List</h1>
    <hr>
    {% if object_list %}
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Total books in bookshelf</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            {% for bookshelf in object_list %}
                <tr>
                    <td><a href="{% url 'bookshelf details' bookshelf.id %}">{{ bookshelf.title }}</a></td>
                    <td>{{ bookshelf.books.count }}</td>
                    <td>{{ bookshelf.description|truncatechars:50 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <h1>No bookshelves added to My Bookshelf yet.</h1>
    {% endif %}
{% endblock %}