{% extends 'base.html' %}
{% block page_content %}
    {% if object_list %}
        <h1 class="text-center">Recently added books to My Bookshelf</h1>
        <br>
        <div class="card-columns">
            {% for book in object_list %}
                <div class="card">
                    <img class="card-img-top" src="{{ book.bookcover.image.url }}" alt="No book cover.">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        {% if book.summary %}
                            <p class="card-text">{{ book.summary|truncatechars:100 }}</p>
                        {% endif %}
                        <p><a href="{% url 'book details' book.id %}" class="badge badge-success">Book
                            details</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <h1>No books have been added to My Bookshelf recently.</h1>
    {% endif %}
{% endblock %}