{% extends 'base.html' %}
{% block page_content %}
    <div class="container py-5">
        <h1>My Books</h1>
        <hr>
        {% if object_list %}
            <ul>
                {% for book in object_list %}
                    <li>
                        <a href="{% url 'book details' book.id %}">{{ book.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>You have not added any books yet.</h1>
        {% endif %}
    </div>
{% endblock %}