{% extends 'base.html' %}
{% block page_content %}
    <h1>My Bookshelves</h1>
    <hr>
    {% if object_list %}
        <div class="card-columns">
            {% for bookshelf in object_list %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ bookshelf.title }}</h5>
                        {% if bookshelf.description %}
                            <p class="card-text">{{ bookshelf.description|truncatechars:100 }}</p>
                        {% endif %}
                        <p><a href="{% url 'bookshelf details' bookshelf.id %}" class="badge badge-success">Bookshelf
                            details</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% else %}
        <h1>You have not added any bookshelves yet.</h1>
    {% endif %}
{% endblock %}