{% extends 'base.html' %}
{% block page_content %}
    <div class="container py-5">
        <h1>My Bookshelves</h1>
        <hr>
        {% if object_list %}
            <ul>
                {% for bookshelf in object_list %}
                    <li>
                        <a href="{% url 'bookshelf details' bookshelf.id %}">{{ bookshelf.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <h1>You have not added any bookshelves yet.</h1>
        {% endif %}
    </div>
{% endblock %}