{% extends 'base.html' %}
{% block page_content %}
    <h1>Profiles List</h1>
    <hr>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Full name</th>
            <th scope="col">e-mail</th>
            <th scope="col">Bio</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in object_list %}
            <tr>
                <td><a href="{% url 'profile details' profile.user_id %}">{{ profile.full_name }}</a></td>
                <td>{{ profile.user }}</td>
                <td>{{ profile.bio|truncatechars:50 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
                <li class="page-item"><a class="page-link"
                                         href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{ page_obj.number }}
                of {{ page_obj.paginator.num_pages }}</a></li>
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}