{% extends 'base.html' %}
{% block page_content %}
    <h1>Profiles List</h1>
    <hr>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Full name</th>
            <th scope="col">e-mail</th>
            <th scope="col">Bio</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in object_list %}
            <tr>
                <td><a href="{% url 'profile details' profile.user_id %}">{{ profile.full_name }}</a></td>
                <td>{{ profile.user }}</td>
                <td>{{ profile.bio|truncatechars:50 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}